/* For mobile phones: */
[class*="col-"] {
  width: 100%; 
}

/*I did this break point for navigation bar for also mobile phones: */
@media only screen and (max-width: 768px) {
  .col-ss-1 {width: 8.33%;}
  .col-ss-2 {width: 16.66%;}
  .col-ss-3 {width: 25%;}
  .col-ss-4 {width: 33.33%;}
  .col-ss-5 {width: 41.66%;}
  .col-ss-6 {width: 50%;}
  .col-ss-7 {width: 58.33%;}
  .col-ss-8 {width: 66.66%;}
  .col-ss-9 {width: 75%;}
  .col-ss-10 {width: 83.33%;}
  .col-ss-11 {width: 91.66%;}
  .col-ss-12 {width: 100%;}

  *{
    font-size: 17px;
  }

  .navbar{
    display: none;
  }

  #fb{
    width: 25%;
  }

  #ig{
    width: 25%;
  }

  #tt{
    width: 33.33%;
    padding-top: 8px;
  }

  .lower{
    margin-top: 40px;
  }

  .lower .menu-icon .nav-icon{
    margin-top: 10px;
  }

  /*For footer*/
  .space{
  display: none;
   }

   #fb1{
    margin-left: 120px;
    margin-top: 10px;
  }

  #ig1{
    margin-left: 115px;
    margin-top: 10px;
  }

  #tt1{
    margin-left: 110px;
    margin-top: 10px;
  }

   .jan{
    margin-left: 70px;

    }

    .feb{
           margin-left: 70px;
           margin-top: 30px;

    }
    .mar{
      margin-left: 70px;
      margin-top: 30px;
    }

    .apr{
           margin-left: 40px;
           margin-top: 30px;
    }

    .footerforaboutus{
      height: 800px;
      margin-top: 2000px;
    }

    .footerforhome{
      height: 800px;
      margin-top: 30px;
    }

    .footerforadopt{
      height: 800px;
      margin-top: 30px;
    }

    .footerfordog{
      height: 800px;
      margin-top: 3700px;
    }

    .footerforcat{
      height: 800px;
      margin-top: 3700px;
    }

    .footerforaccount{
      height: 800px;
      margin-top: 30px;
    }

    .footerforsignup{
      height: 800px;
      margin-top: 30px;
    }

    .footerforlogin{
      height: 800px;
      margin-top: 30px;
    }

    .footerforadoptform{
      height: 800px;
      margin-top: 30px;
    }

    .footerfordonatetdy{
      height: 800px;
      margin-top: 3400px;
    }

    .footerforenvironment{
      height: 800px;
      margin-top: 30px;
    }

    .footerforfn{
      height: 600px;
      margin-top: 30px;
    }

    .footerforfaq{
      height: 600px;
      margin-top: 30px;
    }

    .footerforcus{
      height: 800px;
      margin-top: 30px;
    }

    .footerfordis{
      height: 800px;
      margin-top: 30px;
    }

    .footerforelderly{
      height: 800px;
      margin-top: 150px;
    }

  /*For index.html*/
  .see{
    margin-left: 100px;
  }

   /*For adopt.html*/

  .top{
    padding-top: 150px;
    height: 300px;
  }

  .dog{
    height: 255px;
    margin-left: 15px;
  }

  .dog:hover{
    margin-left: 15px;
    margin-left: 15px;
  }

  #dog2{
    height: 255px;
  }

  #dogs{
    float: left;
    font-family: Century Gothic;
    color: #43574c;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 0 0 .8em white;
    padding-top: 70px;
    text-align: center;
  }

  .next{
    height: 255px;
    margin-left: 5px;
  }

  .arrow{
    padding-top: 50px;
    padding-left: 10px;
  }

  .cat{
    height: 255px;
    margin-left: 15px;
  }

  .cat:hover{
    margin-left: 15px;
    margin-left: 15px;
  }

  #cat2{
    height: 255px;
  }

  #cats{
    float: left;
    font-family: Century Gothic;
    color: #43574c;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 0 0 .8em white;
    padding-top: 70px;
    text-align: center;
  }


  .nextt{
    height: 255px;
    margin-left: 5px;
  }

  .arroww{
    padding-top: 50px;
    padding-left: 10px;
  }

  /*For both Dog.html and cat.html*/
  .content{
    margin-left: 20px;
  }

  .gender{
    margin-left: 180px;
  }

  #breed{
    margin-left: 120px;
  }

  #h111{
    margin-left: 150px;
  }

  #h1111{
    margin-left: 150px;
  }

  #age{
    margin-left: 140px;
  }

  .searchbar{
    height: 400px;
  }


  .searchh{
    margin-right: 100px;
    margin-top: 30px;
    display: none;

  }

  .clear{
    margin-right: 240px;
    margin-top: 30px;
  }

  /*For dog.html*/

  .cap{
    padding-top: 180px;
    height: 280px;
  }

   .saicookie, .nawalboe, .bumbum, .baozhu, .chewie, .max,.nannora, .gongyang, .miphyu, .guanjun, .bingbing, .BaoBao{
    margin-left: 70px;
  }

  .adoptform{
    margin-left: 55px;
  }

  .backfordog, .nextfordog{
    margin-top: 20px;
  }


  /*For Cat.html*/

  .cap2{
    padding-top: 180px;
    height: 280px;
  }

  .Lili, .louis, .spice, .milo, .love, .lily, .Luca, .leo, .ren, .mono, .tabby, .chubby{
    margin-left: 70px;
  }

  .adoptform{
    margin-left: 55px;
  }

 .backforcat, .nextforcat{
    margin-top: 20px;
  }


  /*For home.html*/
  .one{
    padding-top: 100px;
    height: 280px;
  }

  .show{
    height: 1600px;
    margin-left: 20px;
  }

  .d, .v, .f, .a{
    height: 350px;
    margin-left: 65px;
  }

  .two{
    padding-top: 10px;
  }

  .two{
    padding-top: 30px;
  }

  .idea{
    height: 300px;
  }

  .search{
    padding-top: 10px;
    margin-left: 20px;
  }

  .search:hover{
    width: 100%;
   height: 55px;
   text-align: center;
   border: 5px solid #ed9b8e;
   border-radius: 30px;
   margin-left: 0px;
  }

  .send{
    margin-left: 125px;
  }

  .send:hover{
    margin-left: 20px;
    width: 91.66%;
  }

  .cause{
    height: 600px;
    margin-top: 10px;
  }

  .an, .di, .en, .el{
    padding-top: 20px;
    margin-left: 100px;
    margin-top: 20px;
  }

  /*For account.html*/
  .pic{
   padding-top: 150px;
   height: 350px;
  }

  .signup{
   margin-left: 50px;
  }

  .Login{
   margin-left: 50px;
  }

  /*For signup.html*/
  .pic2{
   padding-top: 200px;
   height: 350px;
  }

  a.backk{
    color: white;
    font-size: 25px;
    background-color: #95c9ad;
    border-radius: 10px;
    float: left;
    padding: 10px;
    display: none;
  }

  /*For Login.html*/
  .pic4{
   padding-top: 170px;
   height: 300px;
  }


  .form{
   margin-left: 20px;
  }

   a.backkk{
    display: none;
  }

  /*For aboutus.html*/
  .headerimg{
   padding-top: 200px;
   height: 350px;
  }

  #imgg{
    width: 70%;
    margin-left: 70px;
  }

  #objectives{
    text-align: center;
    margin-left: 30px;
  }

  #ooow{
    text-align: center;
    margin-left: 20px;
  }

  .wintkay,.hsuhtet, .alinkar , .nanphoo{
      margin-left: 70px;
      height: 650px;
      margin-top: 50px;
  }


  .forsignup{
    display: none;
  }

  .signu{
      display: none;
  }


    /*For adoptform.html*/
  .imgforadpt{
    height: 400px;
    padding-top: 230px;
  }

  .formmm{
     margin-left: 40px;
     height: 550px;
  }

  .formmmm{
     margin-left: 40px;
     height: 550px;
  }

  #pet, #bd, #gr,  #peta, #bda, #aea, #gendera{
    margin-left: 110px;
    text-align: center;
  }

  #pet, #bd, #ae, #gr, #aid,  #peta, #bda, #aea, #gendera, #aida{
    width: 150px;
    text-align: center;
  }

  #h11{
    margin-left: 10px;
  }

  #h1111{
    margin-left: 10px;
  }

  #h111{
    margin-left: 10px;
  }
  #ae{
    margin-left: 0px;
  }
  #af{
    margin-left: 120px;
  }

  #clearr{
    height: 50px;
    width: 200px;
    margin-top: 20px;
  }

  /*For donate.html*/
  .bg{
    height: 400px;
    padding-top: 220px;
  }

   .container1, .container3{
    margin-left: 70px;
    margin-top: 50px;
   }

  .container, .container2{
    margin-left: 70px;
    margin-top: 50px;
  }

  .donate{
    margin-left: 50px;
  }

   /*For environment.html*/
  .nature{
    height: 300px;
    padding-top: 170px;
  }

  .first, .second, .third{
    height: 400px;
    margin-left: 35px;
  }

  .homelessimg,.houseimg,.farmimg{
  width: 300px;
  height: 150px;
  margin-top:30px;
  border-radius: 15px;
  box-shadow: 0 0 4px 4px ghostwhite;
  margin-left: 30px;
  }

  #money{
    margin-left: 100px;
  }

 #submit{
  margin-left: 150px;
 }

  /*For fn.html*/
  .picforfundraise{
    height: 400px;
    padding-top: 200px;
  }

  .containerforfn{
    margin-left: 40px;
    margin-top: 20px;
  }

    #fn, #subforfn{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  label{
    margin-left: 70px;
  }

    /*For FAQ.html*/
  .pic4faq{
    height: 300px;
    padding-top: 150px;
  }

  .firstt, .secondd, .thirdd, .fourthh{
    height: 200px;
    padding-top: 30px;
    margin-left: 35px;
  }

  .sixthh{
    margin-left: 100px;
  }

    /*For contactus.html*/
  .contact{
    height: 300px;
    padding-top: 170px;
  }

  .infor{
    height: 400px;
  }

      /*For dis.html*/
  .dis{
    height: 400px;
    padding-top: 250px;
  }

  .box1, .box2, .box{
  float: left;
  margin-left: 70px;
  margin-top: 30px;
  }

  #disa{
    padding-left: 50px;
  }

  .donatee{
    margin-top: 1200px;
    margin-left: 50px;
  }

  /*forelderly.html*/

  .picc{
      margin-left: 80px;    
      height: 700px;
   }


   .donateee{
     margin-left: 35px;
   }
       .bgimgfore{
     height: 300px;
    padding-top:180px;
}



}


/* For tablet view */
@media only screen and (min-width: 768px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  *{
    font-size: 16px;
  }

  .upper{
    height: 50px;
  }

  .media{
    float: left;
  }

  .upper .navbar{
    margin-top: 15px;
    margin-left: 100px;
    padding-left: 50px;
  }

  .lower{
    margin-top: 35px;
  }

  /*For footer*/
  .space{
    display: none;
   }

  #fb1{
    margin-left: 300px;
    margin-top: 10px;
  }

  #ig1{
    margin-left: 295px;
    margin-top: 10px;
  }

  #tt1{
    margin-left: 290px;
    margin-top: 10px;
  }

    .jan{
      margin-left: 60px;

    }
    .apr{
      margin-left: 300px;
    }

    .feb{
      margin-left: 150px;
      margin-top: 30px;

    }
    .mar{
      margin-left: 100px;
      margin-top: 30px;
    }

    .apr{
           margin-left: 130px;
    }

    .footerforaboutus{
      height: 650px;
      margin-top: 1600px;
    }

     .footerforhome{
      height: 650px;
      margin-top: 30px;
    }

     .footerforadopt{
      height: 650px;
      margin-top: 30px;
    }

    .footerfordog{
      height: 650px;
      margin-top: 3700px;
    }

    .footerforcat{
      height: 650px;
      margin-top: 3700px;
    }

    .footerforaccount{
      height: 650px;
      margin-top: 30px;
    }

    .footerforsignup{
      height: 650px;
      margin-top: 30px;
    }

    .footerforlogin{
      height: 650px;
      margin-top: 30px;
    }

    .footerforadoptform{
      height: 650px;
      margin-top: 30px;
    }

    .footerfordonatetdy{
      height: 650px;
      margin-top: 1700px;
    }

    .footerforenvironment{
      height: 650px;
      margin-top: 30px;
    }

    .footerforfn{
      height: 650px;
      margin-top: 30px;
    }

    .footerforfaq{
      height: 650px;
      margin-top: 30px;
    }

     .footerforcus{
      height: 650px;
      margin-top: 30px;
    }

    .footerfordis{
      height: 650px;
      margin-top: 30px;
    }

    .footerforelderly{
      height: 650px;
      margin-top: 150px;
    }

    .footerfordtform{
      height: 650px;
      margin-top: 30px;
    }

  /*For index.html*/
  .one .index .see{
    margin-left: 250px;
  }

   /*For adopt.html*/

  .top{
    padding-top: 280px;
    height: 400px;
  }

  .dog{
    height: 255px;
    margin-left: 50px;
  }

  .dog:hover{
    margin-left: 50px;
  }

  #dog2{
    height: 255px;
  }

  #dogs{
    padding-top: 90px;
    padding-left: 40px;
    text-align: center;
    font-size: 27px;
  }

  .next{
    height: 255px;
    margin-left: 5px;
  }

  .cat{
    height: 255px;
    margin-left: 50px;
  }

  .cat:hover{
    margin-left: 50px;
  }

  #cat2{
    height: 255px;
  }

  #cats{
    padding-top: 90px;
    padding-left: 40px;
    text-align: center;
    font-size: 27px;
  }

  .nextt{
    height: 255px;
    margin-left: 5px;
  }


  /*For Dog.html and Cat.html*/

   .content{
    margin-left: 30px;
  }

  .gender{
    margin-left: 200px;
    margin-top: 50px;
  }

  .breed{
    float: left;
  }

  .searchbar{
    height: 200px;
    display: none;
  }

  .clear{
    display: none;
  }

  /*For Dog.html*/

  .cap{
    padding-top: 190px;
    height: 280px;
  }


  .saicookie, .nawalboe, .bumbum, .baozhu{
    margin-left: 100px;
  }

  .chewie, .max,.nannora, .gongyang, .miphyu, .guanjun, .bingbing, .BaoBao{
    margin-left: 100px;
  }

  .adoptform{
    margin-left: 80px;
  }

  .backfordog, .nextfordog{
    margin-top: 20px;
  }

  .footerfordog{
    margin-top: 1900px;
  }

  /*For Cat.html*/

  .cap2{
    padding-top: 190px;
    height: 280px;
  }

  
  .Lili, .louis, .spice, .milo, .love, .lily, .Luca, .leo, .ren, .mono, .tabby, .chubby{
    margin-left: 100px;
  }

  .adoptform{
    margin-left: 80px;
  }

 .backforcat, .nextforcat{
    margin-top: 20px;
  }

  .footerforcat{
    margin-top: 1900px;
  }

  /*For home.html*/
  .one{
    padding-top: 230px;
    height: 400px;
  }

  .show{
    height: 650px;
    margin-left: 65px;
  }

  .d, .v, .f, .a{
    height: 270px;
  }

  .d, .f{
    margin-left: 80px;
  }

  .v, .a{
    margin-left: 50px;
  }

  .two{
    padding-top: 30px;
  }

  .idea{
    margin-left: 30px;
    height: 300px;
    margin-top: 10px;
    border-radius: 30px;
  }

  .search{
    margin-left: 170px;
    padding-top: 10px;
  }

  .search:hover{
    margin-left: 100px;
    width: 66.66%;
   height: 55px;
   text-align: center;
   border: 5px solid #ed9b8e;
   border-radius: 30px;
  }

  .send{
    margin-left: 250px;
  }

  .send:hover{
    margin-left: 225px;
    width: 33.33%;
   height: 60px;
  }

  .cause{
    height: 250px;
    margin-top: 10px;
  }


  .el{
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 20px;
  }

  .di,.en{
    padding-top: 20px;
    margin-left: 50px;
    margin-top: 20px;
  }

  /*For account.html*/
  .pic{
   height: 400px;
   padding-top: 250px;
 }
  .signup{
   margin-left: 100px;
}
  .Login{
   margin-left: 100px;
}

  /*For Signup.html*/
  .pic2{
   height: 400px;
   padding-top: 250px;
 }

  a.backk{
    display: none;
  }

  .form{
   margin-left: 150px;
  }

   /*For Login.html*/
  .pic4{
   height: 400px;
   padding-top: 250px;
  }

  .form{
   margin-left: 150px;
  }

   /*For about us.html*/
  .headerimg{
    height: 400px;
    padding-top: 270px;
  }

  .objectives{
    margin-left: 30px;
    text-align: center;
  }

  .wintkay{
    margin-left: 50px;
    height: 550px;
  }

  .alinkar, .nanphoo{
    margin-top: 7px;
  }

  .wintkay, .hsuhtet, .alinkar, .nanphoo{
    margin-left: 200px;
    height: 550px;
    margin-top: 30px;
  }

  .forsignup{
    display: none;
  }

  .signu{
      display: none;
  }

/*For adoptform.html*/
  .imgforadpt{
    height: 400px;
    padding-top: 250px;
  }

  .formmm{
     margin-left: 70px;
     height: 500px;
  }

  .formmmm{
     margin-left: 70px;
     height: 500px;
  }

  #pet, #bd, #genderr,  #peta, #bda, #aea, #gendera{
    margin-left: 150px;
    text-align: center;
  }

  #pet, #bd, #ae, #genderr, #aid, #peta, #bda, #aea, #gendera, #aida{
    width: 350px;
    text-align: center;
  }

  #af{
    margin-left: 200px;
  }

  #h11{
    margin-left: 10px;
  }

  #h1111{
    margin-left: 10px;
  }

  #clearr{
    margin-top: 30px;
    width: 200px;
    height: 50px;
  }


  /*For donate.html*/
  .bg{
    height: 400px;
    padding-top: 250px;
  }

   .container1, .container3{
    margin-left: 100px;
    margin-top: 50px;
   }

  .container, .container2{
    margin-left: 50px;
    margin-top: 50px;
  }

  .donate{
    margin-left: 30px;
  }

  /*For environment.html*/
  .nature{
    height: 400px;
    padding-top: 250px;
  }

  .first, .second, .third{
    height: 350px;
    margin-left: 65px;
  }

  .homelessimg,.houseimg,.farmimg{
  width: 400px;
  height: 150px;
  margin-top:30px;
  border-radius: 15px;
  box-shadow: 0 0 4px 4px ghostwhite;
  margin-left: 100px;
  }

  #money{
    margin-left: 200px;
  }

 #submit{
  margin-left: 250px;
 }

 .donate{
  margin-left: 100px;
 }

 /*For fn.html*/
  .picforfundraise{
    height: 400px;
    padding-top: 250px;
  }

  .containerforfn{
    margin-left: 70px;
    margin-top: 20px;
  }

  #fn, #subforfn{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  label{
    margin-left: 200px;
  }

    /*For FAQ.html*/
  .pic4faq{
    height: 400px;
    padding-top: 200px;
  }

  .firstt, .secondd, .thirdd, .fourthh{
    height: 150px;
    padding-top: 30px;
    margin-left: 70px;
  }

  .sixthh{
    margin-left: 200px;
  }

    /*For contactus.html*/
  .contact{
    height: 400px;
    padding-top: 250px;
  }

  .infor{
    height: 350px;
  }

    /*For dis.html*/
  .dis{
    height: 400px;
    padding-top: 250px;
  }

  .box1, .box2, .box{
  float: left;
  margin-left: 200px;
  margin-top: 30px;
  }

  #disa{
    padding-left: 50px;
  }

  .donatee{
    margin-top: 1100px;
    margin-left: 50px;
  }

   /*forelderly.html*/

  .picc{
      margin-left: 150px;    
      height: 200px;
   
}
   
    .bgimgfore{
     height: 350px;
    padding-top:230px;
}

   .donateee{
    margin-left: 70px;
   }





 








}

/* For desktop view */
@media only screen and (min-width: 1200px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%; }
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .upper{
    min-height: 80px;
  }

  .upper .navbar{
    margin-top: 30px;
    margin-left: 100px;
    padding-left: 0;
  }

  .lower li{
    float: left;
  }

  .lower li a{
    padding: 20px 30px;
  }

  .lower .logo{
   float: left;
   display: block;
   padding: 10px 20px;
   width: 16.66%;
  }

  #logo{
   width: 100%;
   margin-top: 10px;
   float: left;
  }

  .lower .left{
    clear: none;
    float: left;
    max-height: none;
    margin-top: 40px;
    margin-left: 100px;
  }

  .lower .menu-icon{
    display: none;
  }

  .lower{
    margin-top: 65px;
  }

  *{
    font-size: 16px;
  }

  /*For footer*/
  .space{
      display: block;

    }

  #fb1{
    margin-left: 150px;
    margin-top: 10px;
  }

  #ig1{
    margin-left: 145px;
    margin-top: 10px;
  }

  #tt1{
    margin-left: 140px;
    margin-top: 10px;
  }

    .jan{
          margin-left: 50px;

    }
    .feb{
           margin-left: 50px;
           margin-top: 70px;

    }

     .mar{
      margin-left: 50px;
      margin-top: 70px;
    }

    .apr{
           margin-left: 50px;

    }

    .footerforaboutus{
        height: 250px;
        margin-top: 30px;
    }

     .footerforhome{
        height: 250px;
        margin-top: 30px;
    }

    .footerforadopt{
        height: 250px;
        margin-top: 30px;
    }

    .footerfordog{
      height: 250px;
      margin-top: 1300px;
    }

    .footerforcat{
      height: 250px;
      margin-top: 1300px;
    }

    .footerforaccount{
      height: 250px;
      margin-top: 30px;
    }

    .footerforsignup{
      height: 250px;
      margin-top: 100px;
    }

    .footerforlogin{
      height: 250px;
      margin-top: 30px;
    }

    .footerforadoptform{
      height: 250px;
      margin-top: 30px;
    }

    .footerfordonatetdy{
      height: 250px;
      margin-top: 1000px;
    }

    .footerforenvironment{
      height: 250px;
      margin-top: 30px;
    }

    .footerforfn{
      height: 250px;
      margin-top: 30px;
    }

    .footerforfaq{
      height: 250px;
      margin-top: 30px;
    }

    .footerforcus{
      height: 250px;
      margin-top: 30px;
    }

    .footerfordis{
      height: 250px;
      margin-top: 30px;
    }

    .footerforelderly{
      height: 250px;
      margin-top: 150px;
    }

    .footerfordtform{
      height: 250px;
      margin-top: 30px;
    }



  /*For index.html*/

  .one .index .see{
    margin-left: 450px;
  }

  /*For adopt.html*/

  .top{
    padding-top: 270px;
    height: 400px;
  }

  .dog{
    height: 255px;
    margin-left: 50px;
  }

  .dog:hover{
    height: 300px;
    padding-top: 20px;
    padding-left: 7px;  
    padding-right: 7px;
    margin-left: 50px;
  }


  #dogs{
    padding-top: 80px;
    padding-left: 50px;
    font-size: 37px;
  }

  .next{
    height: 255px;
    margin-left: 0px;
  }

  .arrow{
    padding-top: 0px;
    padding-left: 55px;
  }

  .cat{
    height: 255px;
    margin-left: 50px;
  }

  .cat:hover{
    height: 300px;
    padding-top: 20px;
    padding-left: 7px;  
    padding-right: 7px;
    margin-left: 50px;
  }

  #cat{
    width: 16.66%;
  }

  #cats{
    padding-top: 80px;
    padding-left: 50px;
    font-size: 37px;
  }

  .nextt{
    height: 255px;
    margin-left: 100px;
  }
  
  .arroww{
    padding-top: 0px;
    padding-left: 55px;
  }

  /*For Dog and cat.html*/

  #h111{
    margin-left: 30px;
  }

  #h1111{
    margin-left: 10px;
  }

  #h11111{
    margin-right: 300px;
  }

  .content{
    height: 400px;
    margin-left: 50px;
    display: none;
  }

  .gender{
    margin-left: 400px;
    display: block;
  }

  .age{
    margin-left: 100px;
    display: block;
  }


  .gender, .animalid, .age, .breed{
    width: 100px;
    display: block;
  }

  .searchbar{
    height: 150px;
    display: block;
  }
  
   .searchh{ 
    padding-top: 20px;
    margin-left: 50px;
    float: left;
    display: block;
  }

  .clear{
    margin-right: 100px;
    padding-top: 20px;
    margin-top: 30px;
    float: right;
    display: block;
  }

  /*For Dog.html*/
  .cap{
    padding-top: 250px;
    height: 400px;
  }

  .saicookie, .nawalboe, .bumbum, .baozhu{
    margin-left: 250px;
  }

  .chewie, .max,.nannora, .gongyang, .miphyu, .guanjun, .bingbing, .BaoBao{
    margin-left: 100px;
  }

  .adoptform{
    margin-left: 73px;
  }

  .adoptform: hover{
    margin-right: 50px;
  }

  .backfordog{
    margin-top: 7px;
    margin-right: 400px;
  }

  .nextfordog{
    margin-right: 20px;
  }

  /*For Cat.html*/

  .cap2{
    padding-top: 250px;
    height: 400px;
  }

  .content{
    height: 400px;
    margin-left: 50px;
  }

  .Lili, .milo, .Luca, .mono{
    margin-left: 250px;
  }

  .louis, .spice, .love, .lily, .leo, .ren, .tabby, .chubby{
    margin-left: 100px;
  }

  .adoptform{
    margin-left: 73px;
  }

  .adoptform: hover{
    margin-right: 50px;
  }

  .backforcat{
    margin-top: 7px;
    margin-right: 400px;
  }

  .nextforcat{
    margin-right: 20px;
  }

  /*For home.html*/

  .one{
    padding-top: 250px;
    height: 400px;
  }

  .show{
    height: 400px;
    margin-left: 50px;
  }

  .d, .v, .f, .a{
    height: 300px;
  }

  .d{
    margin-left: 130px;
  }

  .v, .f, .a{
    margin-left: 50px;
  }

  .two{
    padding-top: 50px;
  }

  .idea{
    margin-left: 50px;
    height: 250px;
    margin-top: 10px;
    border-radius: 30px;
  }

  .search{
    margin-left: 350px;
  }

  .search:hover{
    margin-left: 200px;
   width: 66.66%;
   height: 55px;
   text-align: center;
   border: 5px solid #ed9b8e;
   border-radius: 30px;
  }

  .send{
    margin-left: 450px;
  }

  .send:hover{
    margin-left: 400px;
    width: 33.33%;
   height: 60px;
  }

  .cause{
    height: 250px;
  }

  .di {
    padding-top: 20px;
    margin-left: 280px;
    margin-top: 20px;
  }


  .el, .en{
    padding-top: 20px;
    margin-left: 50px;
    margin-top: 20px;
  }

  /*For account.html*/
  .pic{
   height: 400px;
   padding-top: 270px;
  }

  .signup{
   margin-left: 170px;
  }

  .signup:hover{
    margin-left: 120px;
  }

  .Login{
   margin-left: 170px;
  }

  .Login:hover{
   margin-left: 120px;
  }

   /*For Signup.html*/
  .pic2{
   height: 400px;
   padding-top: 270px;
  }

  a.backk{
   margin-left: 150px;
   color: white;
    font-size: 25px;
    background-color: #95c9ad;
    border-radius: 10px;
    float: left;
    padding: 10px;
    display: block;
  }

  .form{
      margin-left: 240px;
      height: 700px;
   }

   #pp{
    margin-left: 0px;
   }

  /*For Login.html*/
  .pic4{
   height: 400px;
   padding-top: 270px;
  }

  /*For about us.html*/
  .headerimg{
    height: 400px;
    padding-top: 270px;
  }

  .objectives{
    margin-left: 50px;
    text-align: center;
  }

  .wintkay{
    margin-left: 150px;
    height: 650px;
  }

  .hsuhtet, .alinkar, .nanphoo{
    margin-left: 50px;
    height: 650px;
  }

  .forsignup{
    width: 100%;
    height: 600px;
    display: block;
  }

  .signu{
      padding-left: 100px;
      display: block;
  }

 /*For adoptform.html*/
  .imgforadpt{
    height: 400px;
    padding-top: 270px;
  }

  .formmm{
     margin-left: 120px;
     height: 500px;
  }

  .formmmm{
    margin-left: 120px;
    height: 550px;
  }

  #ae, #aid{
    margin-left: 0px;
  }

  #pet, #bd, #ae, #gr, #aid, #peta, #bda, #aea, #gendera, #aida{
    width: 600px;
    text-align: center;
  }

  #peta, #bda, #aea, #gendera{
    margin-left: 260px;
    padding-top: 10px;
  }

  #h11{
    margin-left: 10px;
  }

  #h1111{
    margin-left: 10px;
  }

  #h11111{
    margin-left: 300px;
  }

  #af{
    margin-left: 350px;
    padding-bottom: 5px;
  }

  #aff{
    padding-bottom: 5px;
  }

  #clearr{
    margin-top: 30px;
    width: 200px;
    height: 50px;
  }


  #gr{
    margin-left: 270px;
  }

  /*For donate.html*/
  .bg{
    height: 400px;
    padding-top: 270px;
  }

  .another{
    margin-top: 50px;
  }

  .container1{
    margin-left: 150px;
    margin-top: 50px;
  }

  .container, .container2, .container3{
    margin-left: 50px;
    margin-top: 50px;
  }

  .donate{
    margin-left: 30px;
  }

  /*For environment.html*/
  .nature{
    height: 400px;
    padding-top: 270px;
  }

  .first, .second, .third{
    height: 350px;
    margin-left: 100px;
  }

  .homelessimg,.houseimg,.farmimg{
  width: 600px;
  height: 150px;
  margin-top:30px;
  border-radius: 15px;
  box-shadow: 0 0 4px 4px ghostwhite;
  margin-left: 250px;
  }

  #submit{
    margin-left: 450px;
  }

  #money{
    margin-left: 400px;
  }

  .donate{
    margin-left: 100px;
  }

  /*For fn.html*/
  .picforfundraise{
    height: 400px;
    padding-top: 270px;
  }

  .containerforfn{
    margin-left: 100px;
    margin-top: 20px;
  }

  #fn, #subforfn{
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  label{
    margin-left: 450px;
  }

  /*For FAQ.html*/
  .pic4faq{
    height: 400px;
    padding-top: 250px;
  }

  .firstt, .secondd, .thirdd, .fourthh{
    height: 120px;
    padding-top: 30px;
    margin-left: 100px;
  }

  .sixthh{
    margin-left: 300px;
  }

  /*For contactus.html*/
  .contact{
    height: 400px;
    padding-top: 270px;
  }

  .infor{
    height: 300px;
  }

  /*For dis.html*/
  .dis{
    height: 400px;
    padding-top: 270px;
  }

  .box1, .box2, .box{
  float: left;
  margin-left: 100px;
  }

  #disa{
    padding-left: 60px;
  }

  .donatee{
    margin-top: 300px;
    margin-left: 100px;
  }

    /*forelderly.html*/

  .picc{
      padding-left: 150px;   
      height: 250px;
   }

  .bgimgfore{
     height: 400px;
    padding-top: 270px;
}
 
   .donateee{
      display: block;
      margin-left: 100px;
   }

   .formm{
    margin-left: 500px;
   }






  

}