*{
	box-sizing: border-box;
}

p{
	text-align: center;
}

		#fn,select{
			width:91.66%;
			padding:12px;
			border: 1px solid green;
			border-radius: 3px;
        }

		.picforfundraise{
			background-image: url(PBL/fn.gif);
            text-shadow: 0 0 .8em black;
            box-shadow: 0 0 8px 8px white inset;
            font-size: 30px;
            color: white;
            font-family: Cursive;
            text-align: center;
            margin-top: 0px;
		}

		#fn, #subforfn{
			width: 60%;
			background-color: #86a393;
			color: grey;
			padding:14px;
			border-radius:6px;
			cursor:pointer;
		}


		#fn:hover, #subforfn:hover {
  			background-color: #90EE90;
		}
		
	/*	div {
  			border-radius: 5px;
  			text-align: center;
  			padding: 30px;
  			
		}*/
		.containerforfn{
			/*width:100%;*/
			background:rgb(143,188,143);
			padding:38px;
			border-radius: 10px;
            box-shadow: 0 0 2px 2px darkgreen;
		}

.footerforfn{
  background-color: #8b948f;
  color: white;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;

}

.jan{
    float: left;
    background-color: #5b856e;
    margin-top: 30px;
    border-radius: 30px;
    padding-bottom: 10px;
}

#fb1{
  width: 30px;
  display: block;
}

#ig1{
  width: 35px;
  padding-top: 10px;
  display: block;
}

#tt1{
  width: 40px;
  padding-top: 5px;
  display: block;
}

.feb{
     text-align: center;
     float: left;
     background-color: #5b856e;
     border-radius: 30px;
     padding-bottom: 10px;
}

.mar{
     text-align: center;
     float: left;
     background-color: #5b856e;
     border-radius: 30px;
     padding-bottom: 10px;
}

.apr{
     text-align: center;
     margin-top: 30px;
     float: left;
     background-color: #5b856e;
     border-radius: 30px;
     padding-bottom: 10px;
}

#comment{
  float: left;
  margin-top: 100px;
  margin-left: 190px;
  width: 300px;
  text-align: center;
}


#small{ 
  width: 80px;
    height: 30px; 
    background-color: ghostwhite;
    border: 2px solid #5b856e;  
    border-radius:7px; 
    font-family: Century Gothic ;
    color: #5b856e;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

#comment{
  float: left;
  margin-top: 100px;
  margin-left: 190px;
  width: 300px;
  text-align: center;
}


#small{ 
  width: 80px;
    height: 30px; 
    background-color: ghostwhite;
    border: 2px solid #5b856e;  
    border-radius:7px; 
    font-family: Century Gothic ;
    color: #5b856e;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

.footerforfn a{
  color: white;
}

