
.imgforadpt{
    background-image: url(PBL/tu);
    text-shadow: 0 0 .8em white;
    box-shadow: 0 0 8px 8px white inset;
    font-size: 30px;
   color: white;
   font-family: Cursive;
   text-align: center;
   margin-top: 0px;
}

.formmm{
 padding-top: 4px;
 background-color: #889e54;
 height: 350px;
 border-radius: 15px;
 box-shadow: 0 0 4px 4px #5b856e;
 color: #2d3d31;
text-align: center;
} 

#pet , #gender , #breed , #age{
    width: 60%;
	text-align: center;
	font-size: 20px;
	color: #2d3d31;
    box-shadow: 0 0 2px 2px #5b856e;
	height:30px;
}

#animalid{
    height: 25px;
    width: 50%;
    box-shadow: 0 0 2px 2px #5b856e;

}

#clear{
    margin-top: 15px;
    width: 100px;
}

.tuct{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    color: darkseagreen;
}
